@font-face {
  src: url(./assets/fonts/Inter-Regular.otf);
  font-family: "a";
}
@font-face {
  src: url(./assets/fonts/Inter-Light-BETA.otf);
  font-family: "para";
}

.hero {
  font-family: "a";
  font-weight: 600;
}

p {
  font-family: "para";
}

.img {
  background-image: radial-gradient(red, blue, black, white);
  filter: drop-shadow(0 0 40px line);
  position: relative;
  
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(#a37eff, black, white);
  filter: blur(40px);
  z-index: -1;
}
